@mixin gradientText {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
}

@mixin gradientTextReverse {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.main-wrapper {
    width: 100%;
    font-family: 'TT Norms', sans-serif;
    position: relative;
    background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
    background-size: auto 1000px;
    background-repeat: no-repeat;
    background-position-y: top;

}


.wrapper {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.header .wrapper {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.logo_link {
    display: block;
}

.logo_img {
    width: 155px;
    height: 62px;
}

.burger_menu {
    display: none;
}

.mobile_nav {
    display: none;
    position: relative;
}

.mobile_nav_close {
    background-image: url(general_images/red_cross.svg);
    position: absolute;
    display: block;
    top: 19px;
    right: 19px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.mobile_nav_logo_link {
    margin-bottom: 26px;
}

.mobile_nav_logo {
    width: 32px;
    height: 32px;

}

.mobile_nav_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile_nav_list_item {
    min-height: 54px;
    display: flex;
    align-items: center;
}

.mobile_nav_list_item_link {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #24A3FF;
    text-decoration: none;
}

.mobile_nav_list_item_link_active {
    color: #F0145A;
}

.header_content {
    max-width: 564px;
    width: 100%;
}

.header_contacts {
    max-width: 564px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.langswitch {
    max-width: 76px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lang_item {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}

.lang_item:hover {
    color: #B3B3BA;
}

.active_lang {
    background: #F0145A;
    border-radius: 8px;
    padding: 4px 5px 6px 6px;
}

.active_lang:hover {
    color: #FFFFFF;
}

.address_street {
    max-width: 208px;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.address_number {
    max-width: 147px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    position: relative;
}

.address_number::before {
    content: "";
    background: #E6E6F0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
}

.address_number::after {
    content: "";
    background: #E6E6F0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
}

.facebook_link:hover .facebook_path {
    fill: #24A3FF;
}

.header_nav {
    display: flex;
    max-width: 564px;
    width: 100%;
    justify-content: flex-end;
}

.header_nav_list {
    max-width: 425px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header_nav_list .list_item_link {
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
}

.header_nav_list .list_item_link:hover {
    color: #F0145A;
}

.home .wrapper {
    max-width: 100%;
    padding: 193px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 635px;
    background: url(images/symbol_home_bg.svg), url(images/pattern_home_bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.home_title {
    max-width: 443px;
    font-size: 38px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
}

.home_scroll_container {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 200px;
    align-items: flex-end;
    padding: 0 0 20px;
    background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%), url(images/shade_home_bg.png);
}

.scrolldown {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid rgba(256, 256, 256, 0.5);
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.scrolldown::after {
    content: url(images/scrolldown_arrow.svg);
    left: 50%;
    top: 60%;
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
}

.gradient_wrapper {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    position: relative;
}

.gradient_wrapper::before,
.gradient_wrapper::after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    border-radius: 0px 0px 12px 12px;
}

.gradient_wrapper::before {
    width: calc(100% - 40px);
    background: #CACADB;
    bottom: -10px;
}

.gradient_wrapper::after {
    width: calc(100% - 80px);
    background: #E7E7F2;
    bottom: -20px;
}



.experience .wrapper {
    padding: 80px 0 40px;
}

.expierence_container {
    max-width: 1094px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.experience_list {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 312px;
    position: relative;
}

.experience_list::after {
    display: block;
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    background-color: #FFFFFF;
    right: 0;
    top: 0;
}

.experience_list .list_item {
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    text-align: right;
    color: #B3B3BA;
    padding-right: 40px;
    border-right: 4px solid #E6E6F0;
    cursor: pointer;
    z-index: 1;
}

.experience_list .list_item:hover,
.experience_list .list_item_active {
    border-right: 4px solid #F0145A;
    @include gradientTextReverse;
}

.experience_list .list_item:first-child {
    max-width: 267px;
}

.experience_list .list_item:nth-child(3) {
    max-width: 275px;
}

.experience_list .list_item:last-child {
    max-width: 428px;
}

.experience_content {
    max-width: 600px;
    width: 100%;
    padding: 51px 0 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 312px;
}

.experience_mobile_title {
    display: none;
}

.experience_headline {
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    font-weight: normal;
}

.experience_text {
    font-size: 21px;
    line-height: 30px;
    color: #FFFFFF;
    font-weight: 300;
}

.experience_mobile_slider {
    display: none;
}

.services {
    border-radius: 0px 0px 12px 12px;
}

.services .wrapper {
    padding: 40px 0 82px;
    min-height: 941px;
}

.gray_link {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
    text-decoration: none;
    position: relative;
}

.gray_link::after {
    content: "";
    background-image: url(images/gray_link_arrow.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 11px;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: -25px;
}

.services_title {
    @include gradientText;
}

.services_title {
    margin-bottom: 68px;
}

.services_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 684px;
}

.services_block {
    max-width: 413px;
    width: 100%;
    padding-top: 112px;
    position: relative;
}

.services_block::before {
    content: "";
    display: block;
    position: absolute;
    width: 92px;
    height: 92px;
    background: #FFFFFF;
    border-radius: 24px;
    top: 0;
    left: 0;
}

.services_block::after {
    display: block;
    position: absolute;
    top: 14px;
    left: 14px;
    width: 64px;
    height: 64px;
}

.services_block:first-child::after {
    content: url(images/shopping_icon.svg);
}

.services_block:nth-child(2)::after {
    content: url(images/bag_icon.svg);
}

.services_block:nth-child(3)::after {
    content: url(images/crowdfunding_icon.svg);

}

.services_block:nth-child(4)::after {
    content: url(images/threehand_icon.svg);
}

.services_block:nth-child(5)::after {
    content: url(images/safety_icon.svg);
}

.services_block:last-child::after {
    top: 22px;
    left: 22px;
    width: 48px;
    height: 48px;
    content: url(images/lawyer_icon.svg);
}

.services_block_title {
    font-size: 24px;
    line-height: 28px;
    color: #24A3FF;
    margin-bottom: 15px;
    max-width: 355px;
    width: 100%;
    font-weight: 500;
}

.services_block_text {
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    font-weight: 300;
}



.team .wrapper {
    padding: 40px 0 20px;
}

.team_container {
    min-height: 501px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
    margin-bottom: 20px;
}

.team_image-block {
    max-width: 413px;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 20px;
    background-color: #73775a;
}

.team_image-block_mobile {
    display: none;
}

.team_img {
    width: 413px;
    height: 500px;
}

.team_content {
    padding: 40px 0 173px;
    max-width: 787px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.blue_link {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    text-decoration: none;
    margin-bottom: 3px;
    position: relative;
}

.blue_link::after {
    content: "";
    background-image: url(general_images/blue_link_arrow.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 11px;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-57%);
    right: -26px;
}

.team_text {
    margin-bottom: 20px;
    @include gradientText;
}

.team_bio {
    display: flex;
    flex-direction: column;
}

.team_bio_text {
    display: flex;
    flex-direction: column;
}

.team_content span {
    color: #B3B3BA;
}

.team_name {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
    font-weight: 500;
}

.team_name_mobile {
    display: none;
}

.team_position {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.team_slider {
    display: flex;
    justify-content: space-between;
    max-width: 76px;
    width: 100%;
    margin: 0 auto;
}

.slider_dot {
    background: #24A3FF;
    opacity: 0.2;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.slider_dot:hover {
    opacity: 0.6;
}

.slider_dot_active {
    opacity: 1;
}

.slider_dot_active:hover {
    opacity: 1;
}

.cases .wrapper {
    padding: 21px 0 0;
}

.cases_title-block {
    padding: 20px 0 20px 20px;
    max-width: 433px;
    width: 100%;
}

.cases_title {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #F0145A;
    font-weight: 600;
    max-width: 133px;
    width: 100%;
}

.cases_container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.cases_block {
    min-height: 198px;
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 335px;
}

.cases_block:nth-child(1) {
    flex-grow: 9;
    order: 1;
}

.cases_block:nth-child(3) {
    flex-grow: 11;
    order: 1;
}

.cases_block:nth-child(5) {
    flex-grow: 9;
    order: 1;
}

.cases_block:nth-child(7) {
    flex-grow: 0;
    width: 320px;
    order: 3;
}

.cases_block:nth-child(9) {
    flex-grow: 4;
    order: 3;
}

.cases_block:nth-child(11) {
    flex-grow: 7;
    order: 3;
}

.cases_block_text {
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    color: #686887;
    font-weight: 500;
    margin-bottom: 20px;
}

.cases_block_company {
    font-size: 18px;
    line-height: 26px;
    color: #B3B3BA;
}

.cases_block_open {
    display: none;
    padding: 40px 0;
    width: 100%;
    position: relative;
}

.cases_block_open::after,
.cases_block_open::before {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    background-image: url(images/blue_link_arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    height: 32px;
    transform: rotate(270deg);
    cursor: pointer;
}

.cases_block_open::after {
    top: 20px;
}

.cases_block_open::before {
    bottom: 20px;
    display: none;
}

.cases_block_open:nth-child(2) {
    order: 2;
}

.cases_block_open:nth-child(4) {
    order: 2;
}

.cases_block_open:nth-child(6) {
    order: 2;
}

.cases_block_open:nth-child(8) {
    order: 4;
}

.cases_block_open:nth-child(10) {
    order: 4;
}

.cases_block_open:nth-child(12) {
    order: 4;
}

.cases_block_open_text {
    margin: 0 auto;
    max-width: 866px;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}

.partners .wrapper {
    max-width: 1440px;
    width: 100%;
    padding: 30px 0 0 0;
}

.partners_title {
    max-width: 179px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
    font-weight: 700;
}

.partners_container {
    display: flex;
    flex-flow: row wrap;
}

.partners_block {
    max-width: 360px;
    width: 100%;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners_block:first-child {
    background: #1C4280;
}

.partners_block:first-child .partners_logo {
    max-width: 217px;
    height: 48px;
}

.partners_block:nth-child(2) {
    background: #143646;
}

.partners_block:nth-child(2) .partners_logo {
    max-width: 199px;
    height: 32px;
}

.partners_block:nth-child(3) {
    background: #F48B30;
}

.partners_block:nth-child(3) .partners_logo {
    max-width: 179px;
    height: 44px;
}

.partners_block:nth-child(4) {
    background: #9E4DC3;
}

.partners_block:nth-child(4) .partners_logo {
    max-width: 180px;
    height: 42px;
}

.partners_block:nth-child(5) {
    background: #FD9339;
}

.partners_block:nth-child(5) .partners_logo {
    max-width: 174px;
    height: 44px;
}

.partners_block:nth-child(6) {
    background: #E2E2E4;
}

.partners_block:nth-child(6) .partners_logo {
    max-width: 187px;
    height: 48px;
}

.partners_block:nth-child(7) {
    background: #C71C36;
}

.partners_block:nth-child(7) .partners_logo {
    max-width: 135px;
    height: 54px;
}

.partners_block:nth-child(8) {
    background: #DCF3F9;
}

.partners_block:nth-child(8) .partners_logo {
    max-width: 146px;
    height: 76px;
}

.partners_block:nth-child(9) {
    background: #EAEAEA;
}

.partners_block:nth-child(9) .partners_logo {
    max-width: 182px;
    height: 60px;
}

.partners_block:nth-child(10) {
    background: #282240;
}

.partners_block:nth-child(10) .partners_logo {
    max-width: 181px;
    height: 38px;
}

.partners_block:nth-child(11) {
    background: #1D4568;
}

.partners_block:nth-child(11) .partners_logo {
    max-width: 189px;
    height: 46px;
}

.partners_block:last-child {
    background: #000000;
}

.partners_block:last-child .partners_logo {
    max-width: 152px;
    height: 95px;
}

.publications {
    position: relative;
}

.publications .wrapper {
    padding: 40px 0 0 0;
}

.publications_title {
    margin-bottom: 40px;
    @include gradientText;
}

.publications_container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 720px;
    max-width: 1320px;
    width: 100%;
}

.publications_column {
    max-width: 414px;
    width: 100%;
}

.publications_block {
    max-width: 414px;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    overflow: hidden;
}



.publications_block_img {
    width: 414px;
    height: 233px;
}

.publications_block_img-wrap {
    max-width: 414px;
    width: 100%;
    height: 233px;
    margin-bottom: 20px;
}

.publications_column:first-child .publications_block:last-child .publications_block_img-wrap {
    background-color: #e7c7b2;
}

.publications_column:nth-child(2) .publications_block:first-child .publications_block_img-wrap {
    background-color: #115efa;
}

.publications_column:nth-child(2) .publications_block:last-child .publications_block_img-wrap {
    background-color: #d5e4e1;
}

.publications_column:last-child .publications_block:first-child .publications_block_img-wrap {
    background-color: #01193f;
}

.publications_column:last-child .publications_block:last-child .publications_block_img-wrap {
    background-color: #d3c2a8;
}

.publications_block_wrapper {
    max-width: 372px;
    width: 100%;
    margin: 0 auto;
}

.publications_block_title {
    margin-bottom: 10px;
}

.publications_block_title_link {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #24A3FF;
    text-decoration: none;
}

.publications_block_date {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: #B3B3BA;
    margin-bottom: 20px;
    display: flex;
}

.publications_block_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    padding-top: 20px;
    border-top: 4px solid #E6E6F0;
}

.publications_shadeblock {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url(images/publications_shade.png);
    display: flex;
    justify-content: center;
    padding: 110px 0 40px 0;
}

.shadeblock_button {
    background: #24A3FF;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    padding: 16px 76px 17px;
    cursor: pointer;
}

.shadeblock_button:hover {
    background: #0085FF;
}

.shadeblock_button:active {
    background: #006CCF;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 32px 0 40px;
    border-top: 4px solid #E6E6F0;
}

.footer_contacts {
    display: flex;
    flex-flow: row wrap;
    max-width: 423px;
    width: 100%;
    min-height: 79px;
    justify-content: space-between;
    align-items: center;
}

.footer_contacts .address_street {
    color: #323264;
    font-weight: 500;
    max-width: 212px;
}

.footer_contacts .address_number {
    color: #46466E;
}

.footer_contacts .address_number::after,
.footer_contacts .address_number::before {
    background: #B3B3BA;
}

.footer_contacts .address_number::before {
    left: -15px;
}


.wrapbreak {
    flex-basis: 100%;
    height: 0;
}

.facebook_link {
    display: block;
}

.footer_contacts .facebook_link:hover .facebook_path {
    fill: #F0145A;
}

.map_link {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    text-decoration: none;
    position: relative;
}

.map_link::before {
    content: "";
    background: #B3B3BA;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
}

.mail_link {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #24A3FF;
    text-decoration: none;
    margin-right: 26px;
}

.map_link:hover,
.mail_link:hover {
    color: #F0145A;
}

.footer_copyright {
    font-size: 16px;
    line-height: 19px;
    color: #B3B3BA;

}

@media all and (max-width: 480px) {
    .main-wrapper {
        background-size: auto 641px;
    }

    .wrapper {
        max-width: 335px;
    }

    .header .wrapper {
        padding: 20px 0 0 0;
        flex-direction: column;
        min-height: 104px;
    }

    .header_mobile_actions {
        order: 2;
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        align-items: center;
    }

    .burger_menu {
        display: block;
        position: relative;
        width: 18px;
        height: 14px;
        cursor: pointer;
    }

    .burger_line {
        height: 2px;
        width: 100%;
        background: #FFFFFF;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    .burger_menu::before,
    .burger_menu::after {
        content: "";
        height: 2px;
        width: 100%;
        background: #FFFFFF;
        position: absolute;
        left: 0;
    }

    .burger_menu::before {
        top: 0;
    }

    .burger_menu::after {
        bottom: 0;
    }

    .mobile_nav_open .mobile_nav {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: white;
        z-index: 1;
        align-items: center;
        flex-direction: column;
        padding-top: 16px;
    }


    .logo_img {
        width: 77px;
        height: 31px;
    }

    .header_content {
        order: 1;
        margin-bottom: 10px;
    }

    .header_contacts {
        margin: 0;
    }

    .header_nav {
        display: none;
    }

    .lang_item {
        color: #B3B3BA;
    }

    .active_lang {
        color: #FFFFFF;
    }

    .header .address_street {
        display: none;
    }

    .header .address_facebook {
        display: none;
    }

    .header .address_number {
        color: #B3B3BA;
    }

    .header .address_number::after,
    .header .address_number::before {
        display: none;
    }

    .home .wrapper {
        padding: 138px 0 0 0;
        min-height: 536px;
        background: url(images/symbol_home_bg.svg);
        background-repeat: no-repeat;
        background-position: 39% 100px;
    }

    .home_title {
        max-width: 374px;
    }

    .expierence .wrapper {
        padding: 40px 0;
    }

    .experience_list {
        display: none;
    }

    .experience_content {
        padding: 0;
    }

    .experience_mobile_title {
        display: block;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
        max-width: 106px;
        width: 100%;
        margin-bottom: 10px;
    }

    .experience_headline {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 15px;
        font-weight: 400;
    }

    .experience_text {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
        font-weight: 300;
    }

    .experience_mobile_slider {
        display: flex;
        max-width: 106px;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .services .wrapper {
        padding: 5px 0 20px 0;
    }

    .services_title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 20px;
    }

    .services_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 1260px;
    }

    .services_block {
        padding-top: 0;
    }

    .services_block::before {
        width: 64px;
        height: 64px;
    }

    .services_block::after {
        width: 44px;
        height: 44px;
        top: 10px;
        left: 10px;
    }

    .services_block:last-child::after {
        width: 37px;
        height: 37px;
        top: 15px;
        left: 16px;
    }

    .services_block_title {
        padding-left: 75px;
        min-height: 64px;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
    }

    .services_block_text {
        font-size: 16px;
        line-height: 22px;
    }

    .team .wrapper {
        padding: 20px 0 0 0;
    }

    .team_container {
        padding: 0;
        min-height: 434px;
        margin-bottom: 15px;
    }

    .team_content {
        padding: 20px 0 20px 20px;
    }

    .team_text {
        font-size: 32px;
        line-height: 38px;
    }

    .team_bio {
        flex-direction: row;
    }

    .team_image-block {
        display: none;
    }

    .team_image-block_mobile {
        width: 60px;
        height: 60px;
        background-size: cover;
        border-radius: 50%;
        background-image: url(pages/team/images/alex_img.jpg);
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
        display: block;
    }

    .team_name {
        display: none;
    }

    .team_bio_text {
        padding: 5px 0;
    }

    .team_name_mobile {
        display: block;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 5px;
    }

    .cases_block:nth-of-type(n) {
        flex-grow: 1;
        order: 1;
        min-height: 140px;
        justify-content: space-between;
        padding: 20px;
    }

    .cases_block_text {
        font-size: 18px;
        line-height: 21px;
    }

    .cases_block_open:nth-of-type(n) {
        order: 1;
        padding: 20px 0;
        min-height: 430px;
    }

    .cases_block_open::after {
        display: none;
    }

    .cases_block_open::before {
        display: block;
    }

    .cases_block_open_text {
        max-width: 295px;
        width: 100%;
    }

    .partners {
        width: 100%;
    }

    .partners .wrapper {
        max-width: 375px;
    }

    .partners_container {
        width: 100%;
        justify-content: center;
    }

    .partners_block {
        max-width: 186px;
        width: 100%;
        min-height: 90px;
    }

    .partners_block:first-child {
        order: 1;
    }

    .partners_block:nth-child(2) {
        order: 1;
    }

    .partners_block:nth-child(3) {
        order: 1;
    }

    .partners_block:nth-child(4) {
        order: 1;
    }

    .partners_block:nth-child(5) {
        order: 4;
    }

    .partners_block:nth-child(6) {
        order: 9;
    }

    .partners_block:nth-child(7) {
        order: 3;
    }

    .partners_block:nth-child(8) {
        order: 2;
    }

    .partners_block:nth-child(9) {
        order: 5;
    }

    .partners_block:nth-child(10) {
        order: 8;
    }

    .partners_block:nth-child(11) {
        order: 7;
    }

    .partners_block:last-child {
        order: 6;
    }

    .partners_block:first-child .partners_logo {
        width: 158px;
        height: 35px;
    }

    .partners_block:nth-child(2) .partners_logo {
        width: 168px;
        height: 27px;
    }

    .partners_block:nth-child(3) .partners_logo {
        width: 161px;
        height: 40px;
    }

    .partners_block:nth-child(4) .partners_logo {
        width: 146px;
        height: 34px;
    }

    .partners_block:nth-child(5) .partners_logo {
        width: 144px;
        height: 36px;
    }

    .partners_block:nth-child(6) .partners_logo {
        width: 128px;
        height: 33px;
    }

    .partners_block:nth-child(7) .partners_logo {
        width: 108px;
        height: 44px;
    }

    .partners_block:nth-child(8) .partners_logo {
        width: 104px;
        height: 54px;
    }

    .partners_block:nth-child(9) .partners_logo {
        width: 118px;
        height: 39px;
    }

    .partners_block:nth-child(10) .partners_logo {
        width: 132px;
        height: 28px;
    }

    .partners_block:nth-child(11) .partners_logo {
        width: 137px;
        height: 33px;
    }

    .partners_block:last-child .partners_logo {
        width: 112px;
        height: 70px;
    }

    .publications {
        height: 921px;
    }

    .publications_container {
        max-width: 335px;
        display: block;
    }

    .publications_title {
        font-size: 32px;
        line-height: 38px;
        max-width: 314px;
        width: 100%;
        margin-bottom: 20px;
    }

    .publications_block {
        max-width: 335px;
        width: 100%;
        margin-bottom: 20px;
    }

    .publications_block_text {
        display: none;
    }

    .publications_block_date {
        margin: 0;
    }

    .publications_block_img-wrap {
        max-width: 100%;
        width: 100%;
        height: 189px;
        margin-bottom: 20px;
    }

    .publications_block_img {
        width: 335px;
        height: 189px;

    }

    .publications_shadeblock {
        background: #fff;
        padding: 41px 0;
    }

    .footer .wrapper {
        padding: 23px 0 118px 0;
    }

    .footer .wrapper,
    .footer_contacts {
        flex-direction: column;
        align-items: center;
    }

    .map_link::before,
    .address_number::after,
    .address_number::before {
        display: none;
    }

    .footer .address_street {
        margin-bottom: 10px;
    }

    .map_link,
    .footer .address_facebook,
    .footer .address_number,
    .address_mail {
        margin: 0 0 20px 0;
    }

    .mail_link {
        margin: 0;
    }
}