@mixin gradientText {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

.main-wrapper {
    width: 100%;
    font-family: 'TT Norms', sans-serif;
}

.wrapper {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.header .wrapper {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.header_mobile_actions {
    max-width: 371px;
    width: 100%;
}

.header_logo {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
}

.header_logo::before,
.header_logo::after {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: 0;
}

.header_logo::before {
    background-image: url(../../general_images/logo_slash.svg);
    left: 43%;
    width: 21px;
    height: 47px;
}

.header_logo::after {
    background-image: url(../../general_images/logo_symbol.svg);
    right: 0;
    width: 41px;
    height: 47px;
}

.logo_link {
    margin-right: 26px;
}

.logo_img {
    width: 155px;
    height: 62px;
}

.crumb_text {
    font-size: 38px;
    line-height: 45px;
    text-decoration: none;
    color: #323264;
}


.burger_menu {
    display: none;
}

.mobile_nav {
    display: none;
    position: relative;
}

.mobile_nav_close {
    background-image: url(../../general_images/red_cross.svg);
    position: absolute;
    display: block;
    top: 19px;
    right: 19px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.mobile_nav_logo_link {
    margin-bottom: 26px;
}

.mobile_nav_logo {
    width: 32px;
    height: 32px;
}

.mobile_nav_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile_nav_list_item {
    min-height: 54px;
    display: flex;
    align-items: center;
}

.mobile_nav_list_item_link {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #24A3FF;
    text-decoration: none;
}

.mobile_nav_list_item_link_active {
    color: #F0145A;
}

.header_content {
    max-width: 564px;
    width: 100%;
}

.header_contacts {
    max-width: 564px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    color: #B3B3BA;
}

.langswitch {
    max-width: 90px;
    width: 100%;
    display: flex;
    align-items: center;
}

.lang_item {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px 6px;
}

.lang_item:hover {
   background-color: #EDEDF7;
}


.active_lang,
.active_lang:hover {
    background: #F0145A;
    color: white;
}
.address_street {
    max-width: 208px;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
}

.address_number {
    max-width: 147px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    position: relative;
}

.address_number::before,
.address_number::after {
    content: "";
    background: #E6E6F0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.address_number::before {
    left: -20px;
}

.address_number::after {
    right: -20px;
}


.header .facebook_path {
    fill: #B3B3BA;
}

.header .facebook_link:hover .facebook_path {
    fill: #24A3FF;
}

.header_nav {
    display: flex;
    max-width: 564px;
    width: 100%;
    justify-content: flex-end;
}

.header_nav_list {
    max-width: 425px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header_nav .list_item {
    padding-bottom: 2px;
}

.header_nav .list_item_active {
    border-bottom: 2px solid #F0145A;
}

.header_nav_list .list_item_link {
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    text-decoration: none;
    font-weight: 500;
    color: #24A3FF;
}

.header_nav_list .list_item_link_active {
    color: #F0145A;
}

.header_nav_list .list_item_link:hover {
    color: #F0145A;
}

.home .wrapper {
    padding: 80px 0;
}

.home_title {
    @include gradientText;
    max-width: 864px;
    width: 100%;
    margin: auto;
}

.team .wrapper {
    padding: 0 0 60px 0;
}

.team_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 1176px;
    align-content: space-between;
}

.team_block,
.team_block_img-wrap {
    max-width: 413px;
    width: 100%;
}

.team_block {
    min-height: 568px;
}

.team_member_link {
    display: inherit;
    text-decoration: none;
    min-height: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    width: 100%;
}

.team_block_img-wrap {
    height: 500px;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 0 20px 0;
}

.team_block:nth-child(1) .team_block_img-wrap {
    background-color: #73775a;
}

.team_block:nth-child(2) .team_block_img-wrap {
    background: #abc7d6;
}

.team_block:nth-child(3) .team_block_img-wrap {
    background: #f0c6bd;
}

.team_block:nth-child(4) .team_block_img-wrap {
    background: #c0abaa;
}

.team_block:nth-child(5) .team_block_img-wrap {
    background: #4e464a;
}

.team_block:nth-child(6) .team_block_img-wrap {
    background: #dfbaae;
}

.team_block_bio {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.team_block_bio::after {
    content: "";
    background-image: url(../../general_images/blue_link_arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    right: 0;
    bottom: 13px;
    cursor: pointer;
}

.bio_name {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #323264;
    margin-bottom: 5px;
}

.team_block:hover .bio_name {
    color: #F0145A;
}

.bio_position {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: #B3B3BA;
}


.footer .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 32px 0 40px;
}

.footer_contacts {
    display: flex;
    flex-flow: row wrap;
    max-width: 423px;
    width: 100%;
    min-height: 79px;
    justify-content: space-between;
    align-items: center;
}

.footer_contacts .address_street {
    color: #323264;
    font-weight: 500;
    max-width: 212px;
}

.footer_contacts .address_number {
    color: #46466E;
}

.footer_contacts .address_number::after,
.footer_contacts .address_number::before {
    background: #B3B3BA;
}

.footer_contacts .address_number::before {
    left: -15px;
}


.wrapbreak {
    flex-basis: 100%;
    height: 0;
}

.facebook_link {
    display: block;
}

.footer_contacts .facebook_link:hover .facebook_path {
    fill: #F0145A;
}

.map_link {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    text-decoration: none;
    position: relative;
}

.map_link::before {
    content: "";
    background: #B3B3BA;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
}

.mail_link {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #24A3FF;
    text-decoration: none;
    margin-right: 26px;
}

.map_link:hover,
.mail_link:hover {
    color: #F0145A;
}

.footer_copyright {
    font-size: 16px;
    line-height: 19px;
    color: #B3B3BA;
}


@media all and (max-width: 480px) {
    .main-wrapper .wrapper {
        max-width: 335px;
    }

    .header .wrapper {
        padding: 20px 0 0 0;
        flex-direction: column;
        min-height: 104px;
    }


    .header_mobile_actions {
        max-width: 100%;
        order: 2;
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        align-items: center;
    }

    .burger_menu {
        display: block;
        position: relative;
        width: 18px;
        height: 14px;
        cursor: pointer;
    }

    .burger_line {
        height: 2px;
        width: 100%;
        background: #323264;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    .burger_menu::before,
    .burger_menu::after {
        content: "";
        height: 2px;
        width: 100%;
        background: #323264;
        position: absolute;
        left: 0;
    }

    .burger_menu::before {
        top: 0;
    }

    .burger_menu::after {
        bottom: 0;
    }

    .mobile_nav_open .mobile_nav {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: white;
        z-index: 1;
        align-items: center;
        flex-direction: column;
        padding-top: 16px;
    }
    .header_logo {
        max-width: 186px;
    }
    .header_logo::before,
    .header_logo::after {
        background-size: contain;
    }
    .header_logo::before {
        width: 11px;
        height: 24px;
        left: 43%;
    }
    .header_logo::after {
        width: 21px;
        height: 24px;
    }
    .logo_link {
        margin-right: 14px;
    }
    .logo_img {
        width: 77px;
        height: 31px;
    }

    .crumb_text {
        font-size: 19px;
        line-height: 22px;
    }

    .header_content {
        order: 1;
        margin-bottom: 10px;
    }

    .header_content {
        order: 1;
        margin-bottom: 10px;
    }

    .header_contacts {
        margin: 0;
    }

    .header_nav {
        display: none;
    }


    .header .address_street {
        display: none;
    }

    .header .address_facebook {
        display: none;
    }

    .header .address_number::after,
    .header .address_number::before {
        display: none;
    }

    .home .wrapper {
        padding: 20px 0;
        min-height: 306px;
    }

    .home_title {
        font-size: 32px;
        line-height: 38px;
    }

    .team .wrapper {
        padding: 0 0 40px 0;
    }

    .team_container {
        flex-flow: column nowrap;
        justify-content: space-between;
        max-width: 335px;
        min-height: 1246px;
    }

    .team_block {
        max-width: 335px;
        display: flex;
        justify-content: space-between;
        min-height: 191px;
    }

    .team_block:nth-child(1) {
        order: 1;
    }

    .team_block:nth-child(2) {
        order: 1;
    }

    .team_block:nth-child(3) {
        order: 1;
    }

    .team_block:nth-child(4) {
        order: 4;
    }

    .team_block:nth-child(5) {
        order: 3;
    }

    .team_block:nth-child(6) {
        order: 2;
    }

    .team_block_img-wrap {
        max-width: 158px;
        height: 191px;
        margin: 0;
    }

    .team_block_img {
        width: 158px;
        height: 191px;
    }

    .team_block_bio {
        align-self: flex-start;
        padding: 80px 0 42px 0;
        max-width: 157px;
        width: 100%;
    }

    .team_block_bio::after {
        left: 0;
        bottom: -4px;
    }

    .footer .wrapper {
        padding: 23px 0 118px 0;
    }

    .footer .wrapper,
    .footer_contacts {
        flex-direction: column;
        align-items: center;
    }

    .map_link::before,
    .address_number::after,
    .address_number::before {
        display: none;
    }

    .footer .address_street {
        margin-bottom: 10px;
    }

    .map_link,
    .footer .address_facebook,
    .footer .address_number,
    .address_mail {
        margin: 0 0 20px 0;
    }

    .mail_link {
        margin: 0;
    }
}